@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');
.first{
    width: 100%;
    height: 47rem;
    background-image: url("../Images/joanna-kosinska-bF2vsubyHcQ-unsplash-min\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.name{
    text-align: center;
    margin-top: 15%;
    color:white;
    width: 100%;
    height:45rem;
}

.contact-me{
    width: 13rem;
    height: 9%;
    font-size: 30px;
    border:4px solid white;
    border-radius: 45px 45px 45px 45px;
    transition: color 0.5s ease;
    transition: background 0.5s ease;


}

.contact-me:hover{
    background: white;
    color: rgb(235, 164, 52);
}

.self-image{
    border-radius: 50%;
}

.info-label{
    font-family: 'Bona Nova', serif;
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

.about{
    font-size: 22px;
}

.info-text{
    margin-bottom: 1.5rem;
}

.education-title{
    text-align: center;
}

.project-title{
    text-align: center;
    font-weight: bold;
}

.contact a{
    text-decoration: none;
    color: black;
}
.fa-linkedin-in{
    color:blue
}

.skills{
    padding-bottom: 5px;
}

.fa-facebook{
    color: blue;
}

.fa-instagram{
    color: red;
}

.fa-whatsapp,.fa-node{
    color:green;
}

.fa-css3{
    color:blue
}

.fa-html5{
    color:orange;
}

.fa-js{
    color:yellow
}

.fa-angular{
    color:red;
}

.fa-python, .fa-java{
    color:rgb(116, 116, 194)
}

.fa-cuttlefish{
    color:rgb(88, 88, 214)
}

.skills .card-title{
    font-size:20px;
}

.first .nav-item:hover{
    background-color: gray;
    color:white
}

.navbar .nav-item{
    font-size:20px
}

.navbar .navbar-brand{
    font-size: 35px;
}

.navbar{
    z-index: 100;
}

.header{
    font-weight: bold; 
    font-size: 50px;
}

.contact-me a{
    text-decoration: none;
    color: white;
}

.myName{
    font-family: 'Dancing Script', cursive;
    width:100%;
    height: 100%;
}

.title-name{
    font-family: 'Oswald', sans-serif;
}

.info-value{
    font-family: 'Montserrat', sans-serif;
}
